.hover {
  p {
    cursor: pointer;
    border-radius: 4px;
    margin-left: -10px;
  }
  p:hover {
    background-color: #bae7ff;
  }
}

.right-box {
  margin: 0 5% 5% 5%;
  float: left;
  width: 70%;
  height: 100%;
  .group-title {
    display: flex;
    justify-content: space-between;
    span {
      color: #1890ff;
      cursor: pointer;
    }
  }
  .table-title {
    span {
      cursor: pointer;
      color: #1890ff;
    }
  }
}
