.role {
  .role-left {
    float: left;
    .role-select-item {
      background-color: rgb(186, 231, 255);
      padding-left: 6px;
      margin-bottom: 6px;
      border-radius: 4px;
      height: 2em;
      line-height: 2em;
      width: 60%;
      cursor: pointer;
    }
    .role-item {
      padding-left: 6px;
      margin-bottom: 6px;
      border-radius: 4px;
      height: 2em;
      line-height: 2em;
      width: 60%;
    }
    .role-item:hover {
      background-color: rgb(245, 245, 245);
      cursor: pointer;
    }
    .more {
      margin-right: 4px;
      padding: 0 4px;
      float: right;
    }
    .role-title {
      padding-left: 6px;
      margin-bottom: 6px;
      border-radius: 4px;
      height: 2em;
      line-height: 2em;
      width: 60%;
      span {
        font-size: 1.5em;
        float: right;
        cursor: pointer;
      }
    }
  }

  .role-right {
    float: left;
    margin: 60px 0 0 5%;
    width: 70%;
    height: 100px;
    // background:red;
  }
}

.alert-hover:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
