.add-item {
  float: left;
  margin: 16px 6px;
  width: 90px;
  height: 90px;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid rgb(215, 215, 215);
  color: rgb(215, 215, 215);
  text-align: center;
  cursor: pointer;
}

.item {
  position: relative;
  padding-right: 20px;

  .close {
    position: absolute;
    top: 0;
    right: 6px;
  }
  .name {
    position: absolute;
    padding-right: '0 6px';
    min-width: 4em;
    text-align: center;
    text-align: center;
    line-height: 1.5em;
    width: 100%;
  }
}
